html {
    height: 100%;
    max-height: 100%;
}

body {
    overflow-y: auto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 1vh;
    display: grid;
    grid-template-areas: "overlap";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 1.5rem;
}

header > * {
    grid-area: overlap;
  }

.logo {
    width: 350px;
    height: auto;
    align-self: start;
    justify-self: start;
}

.header-container {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    flex:1;
    gap:1vh
}

.header-collection {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#documents-open {
    justify-self: flex-end;
    align-self: center;
}

.documents-open-btn {
    background-color: #014a7f;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: white;
}

.switchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #014a7f;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    gap: 3px;
}

#switchLabel-placeholder {
    position: relative;
}

#switchLabel {
    color: white;
    position:absolute;
    top:0;
    left:0;
}

#switchLabel-placeholder::before {
    content: "Switch to chatbot";
    visibility: hidden;  /* hides visually but still affects layout */
}

.icon-switch-container {
    border-radius: 100%;
    display: inline-flex;
    align-self: center;
    padding-left: 0.5rem;
    width:30px;
    height:30px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    flex:1;
    gap: 1rem;
    flex-grow: 1;
}

#main-content {
    display: flex;
    margin-top: 2rem;
    padding-top: 0.75rem;
    flex-direction: row;
    width: 100%;
    flex:1;
    min-height: 0;
}

#search-div {
    flex:3.5;
    display:flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3rem;
    padding-right: 1.5rem;
    overflow-y: auto;
}

#search-options {
    width:80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchbar-container {
    padding: 0.75rem;
    column-gap: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;
    border-radius: 25px;
}

.search-option-big {
    flex:6
}

.search-option-small {
    display: flex;
    justify-content: center;
    flex:1
}

#results {
    margin-top: 15px;
}


#left-div {
    flex:3.5;
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}
#chat-div {
    display:flex;
    flex-direction: column;
    width: 100%;
}

#search-div {
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding-left: 3rem;
    padding-right: 1.5rem;
}

#conversation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1vw;
    padding-left: 3rem;
    padding-right: 3rem;
}

#retrieved-text-container {
    display: none;
    margin-bottom: 6rem;
    padding: 3rem;
}

#retrieved-text > ul > li {
    margin-bottom: 10px;
}

#results > ul > li {
    margin-bottom: 10px;
}


#sticky-footer {
    width: 50%;
    position: fixed;
    bottom: 45%;
    align-self: center;
    border: 1px solid lightblue;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.sticky-footer-container {
    width: 100%;
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}

#input-text-container {
    width: 100%;
    align-content: center;
    flex:4;
}

#input-text-search {
    border: 0px solid;
    word-wrap: break-word;
    /* Breaks words that are too long */
    overflow-wrap: break-word;
    word-break: break-all;
    min-width: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    resize: none;
}

#input-text {
    border: 0px solid;
    word-wrap: break-word;
    /* Breaks words that are too long */
    overflow-wrap: break-word;
    word-break: break-all;
    display: flex;
    flex-grow: 1;
    align-items: center;
    resize: none;
    width: 100%;
}

#input-text:empty::before {
    content: "\00a0";
}


#input-text:focus {
    outline: none;
}

.param {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.2rem;   
}

.param-item {
    width: 3.5rem;
    padding: 0.15rem;
    display: block;
    text-align: center;
    border: 0px solid;
    background-color: #eee;
    border-radius: 5px;
}

.param-item:focus {
    outline: none; 
} 

.send-button {
    background-color: #014a7f;
    color: white;
    padding: 6px 15px 6px 14px;
    border: none;
    border-radius: 5px;
    align-self: center;
}

.divider {
    width: 3px;
    background-color: #ccc;
    cursor: ew-resize;
    user-select: none;
  }

#documents-div {
    min-width: 0;
    align-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;       
    min-height: 0; 
}

.section-title {
    font-size: large;
    margin-bottom: 10px;
}

#documents-container {
    flex: 1;         
    min-height: 0;  
    overflow-y: auto;
    word-wrap: break-word; 
    width: 100%;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

textarea {
    width: 100%;
    background-color: transparent;
}

textarea:focus {
    outline: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1em;
}

.copyright-container {
    padding: 0.1rem;
}

.copyright {
    color: white;
    font-size: small;
}

.field-title {
    font-weight: bold;
}


button:active {
    box-shadow: none 0 4px 10px rgba(0, 0, 0, 0.7);
}

section {
    background-color: #005dd2;
    padding: 0.5em 1.5em 1em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.section-content {
    background-color: #bedbff;
    padding: 1em;
    margin: 0.5em;
    box-sizing: border-box;
    border-radius: 0.3em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

pre {
    white-space: pre-wrap;
    /* Allows wrapping of long lines */
    word-wrap: break-word;
    /* Break words if necessary */
}

h1 {
    margin-top: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}


#retrieved-text > ul > li {
    margin-bottom: 10px;
}

#documents-container > ul > li {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background-color 0.15s ease-in-out;
}

#documents-container > ul > li:hover {
    background-color: #eee; 
    color: white;
}


#documents-container > ul  > li > a {
    text-decoration: none;
    color: black;
    margin-bottom: 0px;

}





h2 {
    text-align: center;
    font-size: 37px;
}

.pdf-iframe {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.pdf-container {
    width: 90%;
    height: 90%;
    align-self: center;
}