html {
    height: 100%;
 }
 
body {
    height: 100%;
 }

.menu-container {
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu-items {
    display: flex;
    width: 50%;
    height: 30%;
    border-radius: 1rem;
    overflow: hidden;
}

.menu-items > div{
    display: flex;
    flex:1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

span {
    font-size: x-large
    ;
}