main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

#main {
    display: flex;
    margin-top: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    flex-direction: row;
    width: 100%;
}

.section-title {
    font-size: large;
    margin-bottom: 10px;
}

#search-div {
    flex:2.5;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

#results {
    margin-top: 15px;
}

.divider {
    width: 3px;
    background-color: #ccc;
    cursor: ew-resize;
    user-select: none;
  }

#documents-div {
    flex:1;
    min-width: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

#search-container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar-container {
    width: 80%;
    padding: 0.75rem;
    column-gap: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;
    border-radius: 25px;
}

#params-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

#params-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.param-item {
    width: 3.5rem;
    padding: 0.15rem;
    display: block;
    text-align: center;
    border: 0px solid;
    background-color: #eee;
    border-radius: 5px;
}

.param-item:focus {
    outline: none; 
} 

#documents-container {
    flex:1;
    min-height: 70vh;
    max-height: 70vh;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;    /* Add vertical scroll */
    overflow-x: hidden;  /* Prevent horizontal scroll */
    display: inline-block;
    overflow-wrap: break-word;
}

.search-icon {
    color: rgb(150,150,150);
    margin-left: 5px;
}

footer {
    position: sticky;
    bottom: 0;
}
