<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="Author" content="Valantis Zervos">
    <meta name="Author" content="Iordanis Sapidis">
    <meta name="Description" content="KG-Enhanced RAGS Demo">
    <meta name="keywords" lang="en-us"
        content="rag, enhanced, forth, ics, isl, kg, valantis, zervos, iordanis, sapidis, yannis, tzitzikas">

    <title>KG-Enhanced RAGS Demo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='SemanticRAG/css/components/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='SemanticRAG/css/components/conversation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='SemanticRAG/css/default.css') }}">

</head>

<body>
    {% import "components/message.html" as cbot %}

    <header>
        <div id="header" class="container">
            <div class="align-items-center justify-content-center">
                <img src="{{ url_for('static', filename='SemanticRAG/img/ics.png') }}" alt="ICS-FORTH Logo"
                    class="logo">
                <h1> KG-Enhanced RAG Demo</h1>
            </div>
        </div>
    </header>

    <main>
        <div id="conversation"></div>

        <div id="retreived-text-container">
            <h2>Relevant text</h2>
            <pre id="retreived-text" class="message">Relevant work</pre>
        </div>
    </main>



    <div id="sticky-footer">
        <div class="sticky-footer-container">
            <div id="input-text-container">
                <textarea rows="1" id="input-text" placeholder="Enter your question"></textarea>
            </div> 
            <button class="send-button" onclick="onMessageSend()" id="send-button">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>

    <footer>
        <div class=" bg-primary  row d-flex justify-content-between align-items-center text-center copyright-container">
            <span class="copyright"> Copyright © 2024 ICS-FORTH </span>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='SemanticRAG/js/chatbot.js') }}"></script>
</body>

</html>